h1{
	margin-top: 10px;
	margin-left: 30px;
}
.laranja{
	background-color: orange;
}
.laranja1{
	background-color: orange;
	height: 50px;
}
nav#menu ul{
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: black;
}
nav#menu li{
    display: inline-block;
    padding: 15px;
    transition: background-color 2s;
    color: black;
}
nav#menu li a:hover{
    color: #fff;
    text-decoration: underline;
}
a{
    color: white;
    font-family: ğ™¼ğš˜ğš—ğš˜ğšœğš™ğšŠğšŒğš;
    font-weight: bold;
    font-size : 25px;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
li a{
    margin-left: 40px;
    margin-right: 60px;
}
h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.laranja2{
    background-color: orange;
    height: 90px;
    margin-top: 50px;
}
h4{
    margin-left: 450px;
    font-size: 20px;
}
#whatsapp{
    font-size: 50px;
}
h5{
    font-size: 20px;
    margin-left: 775px;
    margin-bottom: 20px;
}
form {
    border: 3px solid black;
    border-radius: 0.3em;
    padding: 0.3em;
    color: black;
}

form input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    font-weight: bold;
}

form button{
    cursor: pointer;
    background: none;
    margin-left: 1100px;
}
.contato{
    margin-left: 530px;
}
.numeros{
    margin-left: 640px;
    margin-top: 20px;
}
.numeros1{
    margin-left: 620px;
    margin-top: 10px;
}